name: build-esp8266
on: [push, pull_request]
jobs:
  build:
    name: Test compile examples for esp8266
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout ESPAsyncTCP
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/ESPAsyncTCP
        ref: master
        path: CustomESPAsyncTCP

    - name: Checkout AsyncTCP
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/AsyncTCP
        ref: master
        path: CustomAsyncTCP

    - name: Checkout ESPAsyncWebServer
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/ESPAsyncWebServer
        ref: master
        path: CustomESPAsyncWebServer

    - name: Compile all examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: esp8266:esp8266:huzzah:eesz=4M3M,xtal=80
        platform-url: https://arduino.esp8266.com/stable/package_esp8266com_index.json
        required-libraries: ArduinoJson
