name: esp32
on: [push, pull_request]
jobs:
  build:
    name: Test compile examples for esp32
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout ESPAsyncTCP
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/ESPAsyncTCP
        ref: master
        path: CustomESPAsyncTCP

    - name: Checkout AsyncTCP
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/AsyncTCP
        ref: master
        path: CustomAsyncTCP

    - name: Checkout ESPAsyncWebServer
      uses: actions/checkout@v2
      with:
        repository: me-no-dev/ESPAsyncWebServer
        ref: master
        path: CustomESPAsyncWebServer

    - name: Compile all examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: esp32:esp32:esp32
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        build-properties: '{ "All": "-Wno-error" }'
        required-libraries: ArduinoJson,StreamUtils,AceButton
